extends layout

block content
  a.title(href="http://lit79.org.ua") Ліцей №79
  br
  br
  div.gradientdot1
    a.button.is-rounded.lessonsG(href="/lessons") Розклад
    br
    br
    a.button.is-rounded.fmG(href="#" onclick="goFM();") Диск
    
