doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset="utf-8")      
  div.bg
  body.content(style="padding: 15px; font-family: monospace;")
    block content