extends layout

block content  
  h1.title= title
  div.gradientdot 
  for Class in classes
    .tile.is-ancestor
    .tile.is-parent
      .tile.is-child.box.card
        div.title= Class.Class
        br
        for Lesson, i in Class.lessons
          if i == 0
            p.subtitle Понеділок
          if i == 1
            p.subtitle Вівторок
          if i == 2
            p.subtitle Середа
          if i == 3
            p.subtitle Четвер
          if i == 4
            p.subtitle П'ятниця
          p= Lesson 
          br