extends layout

block content  
  h1.title= title
  div.gradientdot 
  for Class in classes
    .tile.is-ancestor
    .tile.is-parent
      .tile.is-child.box.card
        div.title= Class.Class
        ul.menu-list
          for Lesson, i in Class.lessons
            br
            if i == 0
              p.menu-label Понеділок
            if i == 1
              p.menu-label Вівторок
            if i == 2
              p.menu-label Середа
            if i == 3
              p.menu-label Четвер
            if i == 4
              p.menu-label П'ятниця
            for Lesn, i in Lesson
              li= Lesn