extends layout

block content  
  h1= title
  ul
    for Class in classes
      li= Class.Class
      ul
        for Lesson, i in Class.lessons
          pre= i
          li= Lesson 
          br
      
        
        
      