@import url("https://fonts.googleapis.com/icon?family=Material+Icons&style=outlined");
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.darkmode, .darkmode>*{
  color: white;
  background: black;
}
button{
  border: none;
  text-align: center;
  text-decoration: none;
}