@import url("https://fonts.googleapis.com/icon?family=Material+Icons&style=outlined");
@import url("https://unpkg.com/bulma");
html{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  z-index: 0;
  
}
div.bg{
  position: absolute;
   background: 
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
  #fff;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  /* background-image:
  repeating-linear-gradient(45deg, var(--t) 0, var(--t) 32px, var(--c) 32px, var(--c) 44px, var(--t) 44px, var(--t) 56px, var(--c) 56px, var(--c) 68px, var(--t) 0),
  repeating-linear-gradient(-45deg, var(--t) 0, var(--t) 32px, var(--c) 32px, var(--c) 44px, var(--t) 44px, var(--t) 56px, var(--c) 56px, var(--c) 68px, var(--t) 0),
  linear-gradient(to bottom left, #FC354C, #0ABFBC);*/
  width: 100%;
  height: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
body.content {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  z-index: 0;
}

button{
  border: none;
  text-align: center;
  text-decoration: none;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
div.gradientdot{
  position: absolute;
  border-radius: 16px;
  width: 10px;
  height: 80%;
  margin: 5px;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
div.lineIndex{
  position: absolute;
  border-radius: 16px;
  width: 10px;
  height: 80%;
  margin: 5px;
  background-color: #303030;
}
div.lineIndex:hover{
  background-color: rgb(75, 75, 75);
}
.lessonsG, .lessonsG:hover{
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
}
.fmG, .fmG:hover{
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: white;
}
.buttonIndex{
  border: 0;
  left: 15px;
}
div.gradientdot1{
  position: absolute;
  border-radius: 16px;
  width: 10px;
  height: 80%;
  margin: 5px;
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
}
.title{
  background: white;
}
